@import url('http://fonts.cdnfonts.com/css/robot-reavers');

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal .active{
    transform: translateY(0px);
    opacity: 100%;
}

.introduction-section, .about-section{
    width: 100%;
}


/***************************************/
/***************************************/
/***************************************/
/* Navbar Section */
.header{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    text-align: center;
}

.nav-logo h3{
    color: #fff;
    font-family: Product Sans;
    font-size: 0.8rem;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;

}

.nav-links a{
    font-family: Product Sans;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;
    outline: none;
    cursor: pointer;
}

.nav-links a::after{
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 0;
    transition: 0.3s ease-in-out;
    margin-left: 2rem;
}

.nav-links a:hover::after{
    width: 75%;
}

.menubar {
    width:40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
}

.bar{
    width:100%;
    height: 3px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.bar1{
    width: 90%;
}

.bar2{
    width: 60%;
}

.bar3{
    width: 100%;
}


/***************************************/
/***************************************/
/***************************************/
/* Introduction Section */
.introduction{
    padding: 10% 2% 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction-content{
    color: #fff;
}

.introduction h3{
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Robot Reavers', sans-serif;
    text-transform: uppercase;
    animation: typing 5s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.introduction img{
    position: absolute;
    left: 2%;
    top: 22%;
    width: 25%;
    animation-duration: 5s;
    animation-name: image-slide-in;
    animation-iteration-count: infinite;
}

@keyframes image-slide-in {
    0%{
        display: block;
    }

    50%{
        display: block;
        transform: translateX(10%);
        transition: ease-in
    }

    100%{
        display: block;
        transform: translateX(0);
    }
}

.introduction p{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Product Sans;
}

.introduction-btn{
    margin-top: 2.5rem;
    width: 18.75rem;
    height: 4.5rem;
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, rgba(215, 222, 248, 0.51) 4.33%, rgba(255, 255, 255, 0) 129%);
    color: #0096FF;
    font-size: 1.375rem;
    font-family: Product Sans;
    cursor: pointer;
}

.social-media-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-media-links div{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(0, 150, 255, 0.3);
    text-align: center;
    padding: 18px;
}

.social-media-links div a{
    margin: auto;
}

.social-media-links div a i{
    color: #fff;
}

.social-media-links div:first-child{
    margin-bottom: 6rem;
}

.social-media-links div:last-child{
    margin-top: 6rem;
}


/***************************************/
/***************************************/
/***************************************/
/* About Section */
.about{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: Product Sans;
}

.about-content{
    flex: 1;
}

.about-content-one{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2.5rem;
    text-align: center
}

.about-content-one .child{
    width: 40%;
}

.about-content-one .child div{
    width: 16rem;
    height: 6.5rem;
    background: linear-gradient(180deg, rgba(0, 150, 255, 0.22) 0%, rgba(0, 150, 255, 0) 100%);
    text-align: left;
    padding: 25px;
    margin-top: 0.5rem;
}

.about-content-one .child div h4{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 28px;
}

.about-content-one .child div p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.about-content-two{
    padding: 0 4.5rem;
}

.about-content-two h4{
    width: 15%;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 8px solid #FF325F;
    padding-bottom: 10px;
}

.about-content-two h3{
    font-size: 2.5rem;
    font-family: 'Robot Reavers';
    margin: 1.5rem 0;
}

.about-content-two p{
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.about-content-button{
    width: 18.75rem;
    height: 4.5rem;
    background: linear-gradient(90deg, rgba(215, 222, 248, 0.51) 4.33%, rgba(255, 255, 255, 0) 129%);
    color: #0096FF;
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
}

@media screen and (max-width: 767px) {
    /***************************************/
    /***************************************/
    /***************************************/
    /* Introduction Section */
    .introduction{
        padding: 15% 4%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .introduction h3{
        font-size: 1.9rem;
    }

    .introduction p{
        font-size: 1rem;
    }

    .introduction-btn{
        margin-top: 2.5rem;
        width: 12rem;
        height: 3rem;
        font-size: 1rem;
    }

    .social-media-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem auto 0;
    }

    .social-media-links div:first-child{
        margin: 0 4rem 0 0;
    }
    
    .social-media-links div:last-child{
        margin: 0 0 0 4rem;
    }

    .introduction img{
        position: absolute;
        left: 2%;
        top: 12%;
        width: 40%;
    }

    /***************************************/
    /***************************************/
    /***************************************/
    /* About Section */
    .about{
        width: 100%;
        padding: 5% 4%;
        flex-direction: column-reverse;
    }

    .about-content-one{
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        align-items: center;
    }

    .about-content-one .child div{
        width: 100%;
        height: 6.5rem;
        text-align: left;
        padding: 10px;
        margin-top: 0.5rem;
    }

    .about-content-one .child div h4{
        font-size: 1rem;
    }
    
    .about-content-one .child div p{
        font-size: 0.8rem;
    }

    .about-content-two{
        padding: 0;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    
    .about-content-two h4{
        width: 15%;
        font-size: 1rem;
    }
    
    .about-content-two h3{
        font-size: 1.5rem;
    }
    
    .about-content-two p{
        font-size: 1rem;
    }

    .about-content-button{
        width: 60%;
        height: 4.5rem;
        font-size: 1rem;
    }

    .about-content-one .child{
        width: 70%;
    }

    .about-content-two p{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /***************************************/
    /***************************************/
    /***************************************/
    /* Introduction Section */
    .introduction h3{
        font-size: 3.2rem;
    }

    .introduction p{
        font-size: 1.5rem;
    }

    .introduction-btn{
        margin-top: 2.5rem;
        width: 16rem;
        height: 4rem;
        font-size: 1.5rem;
    }

    /***************************************/
    /***************************************/
    /***************************************/
    /* About Section */
    .about{
        width: 100%;
        padding: 5% 4%;
        flex-direction: column-reverse;
    }

    .about-content-one{
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        align-items: center;
    }

    .about-content-one .child div{
        width: 100%;
        height: 6.5rem;
        text-align: left;
        padding: 10px;
        margin-top: 0.5rem;
    }

    .about-content-one .child div h4{
        font-size: 1.5rem;
    }
    
    .about-content-one .child div p{
        font-size: 1rem;
    }

    .about-content-two{
        padding: 0;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    
    .about-content-two h4{
        width: 15%;
        font-size: 1.5rem;
    }
    
    .about-content-two h3{
        font-size: 2.4rem;
    }
    
    .about-content-two p{
        font-size: 1.5rem;
    }

    .about-content-button{
        width: 60%;
        height: 4.5rem;
        font-size: 1.3rem;
    }

    .about-content-one .child{
        width: 70%;
    }

    .about-content-two p{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .about-content-one .child div{
        width: 12rem;
        height: 6.5rem;
        background: linear-gradient(180deg, rgba(0, 150, 255, 0.22) 0%, rgba(0, 150, 255, 0) 100%);
        text-align: left;
        padding: 25px;
        margin-top: 0.5rem;
    }
}



@media screen and (max-width: 800px) {
    /***************************************/
    /***************************************/
    /***************************************/
    /* Navbar Section */
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links-div{
        width: 100%;
        transform: translate(-120%, 0);
        transition: 0.5s ease-in-out;
        position: absolute;
        padding: 10px 0;
        top: 8%;
        left: 0;
        text-align: center;
        background-image: url("../images/bg.png");
    }

    .nav-logo img{
        width: 30%;
    }

    .nav-logo h3{
        font-size: 0.7rem;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 ;
    }

    .nav-links{
        margin: 1.5rem 0 auto;
        text-align: center;
    }

    .nav-links a{
        position: relative;
        margin: 0;
    }

    .menubar {
        display: flex;
        width:25px;
        height: 20px;
        position: absolute; 
        right: 0;
        top:0; 
        margin:18px 20px;
    }

    .bar2{
        width: 75%;
        transform: scaleX(1);
        transform-origin: left;
    }

    .bar1,.bar2,.bar3{
        transition: 0.3s;
    }

    .barclose1{
        width: 100%;
        position: absolute;
        transform: rotate(45deg);
    }

    .barclose2{
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
    }

    .barclose3{
        width: 100%;
        position: absolute;
        transform: rotate(-45deg);
    }

    .newlinks{
        transform: translate(0,0);
    }


}